body {
    text-align: center;
    color: #ffffff;
    background: #09096d !important;
    width: 100%;
    height: 100%;
    padding: 2%;
    box-sizing: border-box;
}

.button {
    margin: 0.5rem !important;
}

button:hover {
    background: #3f158d8c !important;
}

#agregarGasto {
    background: #1414e8 !important;
    border-radius: 10% !important;
}

.img404 {
    width: 25rem;
    height: 25rem;
    margin: 2%;
}

h1,
h2,
h3,
h4,
h5 {
    text-transform: uppercase;
}

i {
    cursor: pointer;
}

.tableHistorial {
    max-width: 100%;
    height: 100%;
    overflow: auto;
    box-sizing: border-box;
    padding: 3.5%;
}

.inputUpdate {
    text-overflow: ellipsis;
    min-width: 5.5rem !important;
}

.inputUpdate:disabled{
    background: transparent !important;
    border: none !important;
    text-overflow: ellipsis;
    overflow: hidden;
}

.inputUpdate:active{
    background: #ffffff !important;
    border: 1px solid #1203e5 !important;
    text-overflow: ellipsis;
}

.inputUpdate:active:focus{
    background: #ccc2c2 !important;
    border: 2px solid #1203e5 !important;
}

input,
select,
option,
textarea {
    background-color: #1F2223 !important;
    color: #ffffff !important;
}

input:focus,
input:active {
    background-color: #1F2223 !important;
    border: hidden;
}